.jumbotron{
  background-color: yellow;
  color: black;
  margin-top: 50px;
}

footer{
  padding: 10px 10px 0px 10px;
  background-color: yellow;
  color: black;
  margin: 10px 0px 0px 0px;
}


.card .btn{
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
